<div>
  <p>test1 works!</p>
  <h2>{{ name }} {{ lastName }} From {{ city }}</h2>
  <section>
    <form>
      <input type="text" placeholder="Filter by city" />
      <button class="primary" type="button">Search</button>
    </form>
  </section>
  <div>
    <input [(ngModel)]="inputGrade" /><button (click)="onSendGrade()">send grade</button
    >{{ inputGrade }}
  </div>
  <div class="default success">Lorem Morem</div>
  <h1 [ngClass]="{ default: !isSuccess, success: isSuccess }">Lorem Morem Porem</h1>
</div>
