<nav>
  <a
    class="button"
    routerLink="/"
    routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a class="button" routerLink="/users" routerLinkActive="activebutton">Users</a>
  <a class="button" routerLink="/profile" routerLinkActive="activebutton">Profile</a>
  <a class="button" routerLink="/login" routerLinkActive="activebutton">Login</a>
  <a class="button" routerLink="/fruits" routerLinkActive="activebutton">Fruits</a>
  <a class="button" routerLink="/todos" routerLinkActive="activebutton">Todos</a>
</nav>
<router-outlet></router-outlet>
<div>
  <inst-comp-a></inst-comp-a>
  <inst-comp-b></inst-comp-b>
</div>
<div *ngIf="isLoading; else elseBlock">Loading.....</div>
<ng-template #elseBlock>
  <div>
    <app-test1
      [lastName]="user.lastName"
      [city]="user.city"
      (sendGrade)="getGrade($event)"
    ></app-test1>
    <pre>his grade: {{ maths | json }} </pre>
    <div *ngFor="let el of maths">{{ el | uppercase }}</div>
    <h1>{{ appTitle }}</h1>
    <h2>{{ user.name }} {{ user.lastName }}: Возраст {{ user.age }} From {{ user.city }}</h2>
    <button [disabled]="isDisableButton" (click)="onChangeTitle()">Change Title</button>
    <input type="text" (input)="onChangeText($event)" [value]="appText" />
    <input [(ngModel)]="appText" />
    <div *ngFor="let lesson of lessons">
      <h3 [ngStyle]="{ color: 'red' }">{{ lesson.title | titlecase }}</h3>
      <div>
        WeekGrades
        <div *ngFor="let weekGrade of lesson.weekGrades">
          <h4>{{ weekGrade.gradesItem }}</h4>
        </div>
      </div>
    </div>
    <input [(ngModel)]="value" />
    <div [ngSwitch]="value">
      <div *ngSwitchCase="'1'">one</div>
      <div *ngSwitchCase="'2'">two</div>
      <div *ngSwitchCase="'3'">three</div>
      <div *ngSwitchDefault>yoyoyoyo</div>
    </div>
  </div>
</ng-template>
